@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" id="main">
    <h1>@ViewData["Message"]</h1>
    <img src="bg.jpg" alt="background" width="1000px" height="350px">
    <h2>Welcome</h2>
    <span>Asp Net Core MVC using Entity Framework to develop a CRUD of Sellers and Departments.</span>
</div>
